mixin sport-table(count, period)
  .sport-table&attributes(attributes)
    .sport-table__header
      span NATIONAL CHAMPIONSHIP
      span= '(' + count + ')'
    .sport-table__body
      - var n = 0
      while n < count
        .sport-table__row
          .row
            .col-12.col-md-5.col-lg-4.sport-table__cell.sport-table__cell--border
              .sport-table__wrap
                .sport-table__participant
                  span REAL MADRID

                .sport-table__table
                  - var a = 1
                  while a <= period
                    .sport-table__th
                      if a === period
                        .sport-table__score
                          span= a++
                      else
                        .sport-table__score= a++

              .sport-table__wrap
                .sport-table__participant
                  span CHELSEA

                .sport-table__table
                  - var a = 1
                  while a <= period
                    .sport-table__th
                      if a === period
                        .sport-table__score
                          span= a++
                      else
                        .sport-table__score= a++

            .col-12.col-md-6.col-lg-7.sport-table__cell
              .row
                .col-12.col-sm-4.padding-vertical
                  +button-odd('Real madrid', 1.28).button--odd.sport-table__button
                .col-12.col-sm-4.padding-vertical
                  +button-odd('Draw', 1.28).button--odd.sport-table__button
                .col-12.col-sm-4.padding-vertical
                  +button-odd('Chelsea', 1.28).button--odd.sport-table__button

            .col-2.col-md-1.col-lg-1.sport-table__cell
              .sport-table__market
                span= '+1' + n++
                i.fas.fa-angle-right
