.section
  .container
    .u-text-center
      +icon('logo-half', 'section__icon')
    .section__header
      h2.section__title.h1 WePlay Esports !{' '}
        span.accent-background.js-accent-background-animate Arenas

  .arenas
    .container
      .arenas__grid
        .arenas__column
          .arenas__info
            .arenas__indictor
              .pulse
            .worldwide
              picture
                //source(srcset="img/ukraine.webp, img/ukraine@2x.webp 2x" type="image/webp")
                source(srcset="img/ukraine.png, img/ukraine@2x.png 2x" type="image/png")
                img.worldwide__decore(src="img/ukraine.png" alt="ukraine")
              ul.worldwide__list
                each worldwide in arenaKiev
                  li.worldwide__item
                    p.worldwide__title=worldwide.title
                    p.worldwide__subtitle=worldwide.subtitle
          .arenas__image
            .arenas__wrapper
              .image-animation.js-image-animation
                picture
                  //source(srcset="img/arena-kiev.webp, img/arena-kiev@2x.webp 2x" type="image/webp")
                  source(srcset="img/arena-kiev.jpg, img/arena-kiev@2x.jpg 2x" type="image/jpg")
                  img.image-animation__wrapper(src="img/arena-kiev.jpg" alt="arena-kiev")

        .arenas__column
          ul.arenas__list
            li.arenas__item Esports events
            li.arenas__item Press-conferences
            li.arenas__item Presentations
          .arenas__button
            a.button(href="#contact-us") Contact for more info

  .arenas
    .container
      .arenas__grid
        .arenas__column
          .arenas__info
            .arenas__indictor
              .pulse
            .worldwide
              picture
                //source(srcset="img/usa.webp, img/usa@2x.webp 2x" type="image/webp")
                source(srcset="img/usa.png, img/usa@2x.png 2x" type="image/png")
                img.worldwide__decore(src="img/usa.png" alt="usa")
              ul.worldwide__list
                each worldwide in arenaUsa
                  li.worldwide__item
                    p.worldwide__title=worldwide.title
                    p.worldwide__subtitle=worldwide.subtitle
          .arenas__image
            .arenas__wrapper
              .image-animation.js-image-animation
                picture
                  //source(srcset="img/arena-usa.webp, img/arena-usa@2x.webp 2x" type="image/webp")
                  source(srcset="img/arena-usa.jpg, img/arena-usa@2x.jpg 2x" type="image/jpg")
                  img.image-animation__wrapper(src="img/arena-usa.jpg" alt="arena-usa")

        .arenas__column
          .arenas__title Los Angeles Arena is on the way
          .arenas__button
            a.button(href="#contact-us") Contact for more info
