.section.offices
  .container
    .section__header
      h2.section__title.h1 Our offices

    .offices__block
      picture
        //source(srcset="img/map.webp, img/map@2x.webp 2x" type="image/webp")
        source(srcset="img/map.png, img/map@2x.png 2x" type="image/png")
        img.offices__image(src="img/map.png" alt="map")

      .offices__locations
        .offices__location
          h3.offices__country USA
          address
            a.offices__link(
              href='https://goo.gl/maps/QdtsQjZpQwmggBT28'
              target='_blank'
              rel='noreferrer noopener'
            )
              | 5425 Grosvenor Blvd,
              br
              | Los Angeles, CA 90066, United States

        .offices__location
          h3.offices__country Ukraine
          address
            a.offices__link(
              href='https://goo.gl/maps/Qucb7qZLUBECeGiC7'
              target='_blank'
              rel='noreferrer noopener'
            )
              | Dniprovska Embankment, 21, Kyiv, 02081
