#second-section.section
  .container
    ul.indicator
      each indicator in indicators
        li.indicator__item
          .indicator__title(data-digit=indicator.title)= indicator.title
          if indicator.highlight
            .indicator__subtitle
              span.accent-background.js-accent-background-animate= indicator.subtitle
          else
            .indicator__subtitle
              span= indicator.subtitle

    .section__header
      h2.section__title.h1
        span.accent-background.section__word.js-accent-background-animate Worldwide
        |  presence
      p.section__subtitle We provide a wide range of opportunities for cooperation from selling media rights for our
        | broadcasts to organizing eSports tournaments in our arenas in Europe and the USA.

    .worldwide
      picture
        //source(srcset="img/map.webp, img/map@2x.webp 2x" type="image/webp")
        source(srcset="img/map.png, img/map@2x.png 2x" type="image/png")
        img.worldwide__decore(src="img/map.png" alt="map")
      ul.worldwide__list
        each worldwide in worldwides
          li.worldwide__item
            p.worldwide__title=worldwide.title
            p.worldwide__subtitle=worldwide.subtitle
