mixin section-header(title, type, image, text, board, color)
  section.section&attributes(attributes)
    .container-fluid
      .container
        .block
          h4.title= title
          .description
            each item, c_index in text
              p.text
                each subitem, s_index in item.list
                  if(c_index === 0 && s_index === 0)
                    strong= subitem
                  else
                    span= subitem

        .pictures
          each item, index in image
            .image(class=(index === 0 ? 'image--lg' : 'image--sm'))
              +picture(item, `Product ${index}`)

          if (board)
            +board

        +icon(type)(class=`icon--${color}`)
        .circle
          .circle__line.circle__line--sm
          .circle__line.circle__line--lg
