mixin card-company(data)
  .card-company&attributes(attributes)
    .card-company__logo
      img(src=data.img).img
    .card-company__name= data.title
    .card-company__rate
      +rate(data.rate)
    .card-company__location= data.location
    .card-company__category= data.category
    a(href="#").button.button--secondary.card-company__link
      span.button__text= data.number + ' positions'
