mixin input-group(label, inputId, inputType, inputName, placeholder, message, isTextarea, inputGroupId, isInverse)
  div(id=`${inputGroupId ? inputGroupId : ''}`, class=`${isInverse ? 'input-group input-group--inverse' : 'input-group'}`)
    label(class="input-group__label", for=inputId)= label
    .input-group__field
      if isTextarea
        textarea(class=`${isInverse ? 'input input--textarea input--inverse' : 'input input--textarea'}`, id=inputId, name=inputName, placeholder=placeholder)
      else
        input(type=inputType, id=inputId, class=`${isInverse ? 'input input--inverse' : 'input'}`, name=inputName, placeholder=`${placeholder ? placeholder : ''}`)

      span.input-group__error= message
