mixin pagination(items)
  .pagination-block
    ul.pagination-block__list
      li.pagination-block__item
        a.pagination-block__link(href="/")= "Первая"
          +icon("next", "pagination-block__icon")
      li.pagination-block__item
        a.pagination-block__link(href="/")
          +icon("next", "pagination-block__icon")
      li.pagination-block__item
        a.pagination-block__link(href="/")= "..."

      each item in items
        li.pagination-block__item
          a.pagination-block__link(href=item.url)= item.text

      li.pagination-block__item
        a.pagination-block__link(href="/")= "..."
      li.pagination-block__item
        a.pagination-block__link(href="/")
          +icon("next", "pagination-block__icon")
      li.pagination-block__item
        a.pagination-block__link(href="/")= "Последняя"
          +icon("next", "pagination-block__icon")
