mixin picture(path, type, className, name)
  picture
    source(srcset=`${path}.${type}, ${path}@2x.${type} 2x` type=`image/${type}`)
    img(src=`${path}.${type}` alt=`${name ? name : 'some text'}` class= className)
