mixin social-links(socials ,title, modClass, secondModClass)
  .social-links(
      class= modClass ? `social-links--${modClass}`: '',
      class= secondModClass ? `social-links--${secondModClass}`: ''
    )
    if title
      p.social-links__title= title
    else

    .social-links__wrap
      each social in socials
        a(href= social.link).social-links__link
          +icon(social.icon, 'icon')

